In [1]:
from core import plotK
from fbprophet import Prophet
from sklearn.preprocessing import StandardScaler
from core.getData import Data
from core.tools import RestDay, ProphetPlot, ProfessionalKlineChart,Tools, PlotPE, PlotLSTM
from core.model import ProphetModel,XGBModel,LSTMModel
import pandas as pd
import numpy as np
from pyecharts.charts import Tab
import datetime
import talib
from pyecharts.globals import CurrentConfig, NotebookType
CurrentConfig.NOTEBOOK_TYPE = NotebookType.JUPYTER_LAB

In [2]:
title = plotK.get_name('sz.300362')

In [3]:
data = Data('sz.300362', '2010-01-01')

login success!

In [4]:
data.get_query_history_k_data_plus()

In [5]:
data.logout()

logout success!

In [6]:
chart = ProfessionalKlineChart(title=title, target='MACD')

In [7]:
chart = chart.draw(data.query_history_k_data_plus)

In [9]:
data.query_history_k_data_plus = data.query_history_k_data_plus.replace('',np.nan)

In [10]:
data.query_history_k_data_plus.dropna(subset=['close'], inplace=True)

In [8]:
data.query_history_k_data_plus

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,...,tradestatus,pctChg,peTTM,psTTM,pcfNcfTTM,pbMRQ,isST,year,month,quarter
0,2014-01-21,sz.300362,14.4000,17.4200,14.4000,17.4200,12.0000,5582538,95646414.0000,3,...,1,45.166670,55.653470,5.028072,-263.138226,5.403199,0,2014,1,2014Q1
1,2014-01-22,sz.300362,18.0000,19.1600,18.0000,19.1600,17.4200,13130415,246806290.0000,3,...,1,9.988500,61.212427,5.530302,-289.421837,5.942899,0,2014,1,2014Q1
2,2014-01-23,sz.300362,20.1800,21.0800,20.0000,21.0800,19.1600,19452290,401693568.0000,3,...,1,10.020900,67.346449,6.084487,-318.424443,6.538430,0,2014,1,2014Q1
3,2014-01-24,sz.300362,20.9000,23.1900,20.2600,22.3000,21.0800,18017417,398461616.0000,3,...,1,5.787500,71.244109,6.436625,-336.853182,6.916840,0,2014,1,2014Q1
4,2014-01-27,sz.300362,22.3000,22.3000,22.3000,22.3000,22.3000,0,0.0000,3,...,0,0.000000,71.244109,6.436625,-336.853182,6.916840,0,2014,1,2014Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1709,2021-01-25,sz.300362,1.4900,1.4900,1.4900,1.4900,1.4900,0,0.0000,3,...,0,0.000000,-0.696326,1.221253,46.012982,-0.373678,0,2021,1,2021Q1
1710,2021-01-26,sz.300362,1.4900,1.4900,1.4900,1.4900,1.4900,0,0.0000,3,...,0,0.000000,-0.696326,1.221253,46.012982,-0.373678,0,2021,1,2021Q1
1711,2021-01-27,sz.300362,1.4900,1.4900,1.4900,1.4900,1.4900,0,0.0000,3,...,0,0.000000,-0.696326,1.221253,46.012982,-0.373678,0,2021,1,2021Q1
1712,2021-01-28,sz.300362,1.4900,1.4900,1.4900,1.4900,1.4900,,,3,...,0,,-0.696326,1.221253,46.012982,-0.373678,0,2021,1,2021Q1
1713,2021-01-29,sz.300362,1.4900,1.4900,1.4900,1.4900,1.4900,,,3,...,0,,-0.696326,1.221253,46.012982,-0.373678,0,2021,1,2021Q1