In [1]:
from core import plotK
from fbprophet import Prophet
from sklearn.preprocessing import StandardScaler
from core.getData import Data
from core.tools import RestDay, ProphetPlot, ProfessionalKlineChart,Tools, PlotPE, PlotLSTM
from core.model import ProphetModel,XGBModel,LSTMModel
import pandas as pd
import numpy as np
from pyecharts.charts import Tab
import datetime
import talib
from pyecharts.globals import CurrentConfig, NotebookType
CurrentConfig.NOTEBOOK_TYPE = NotebookType.JUPYTER_LAB

In [2]:
pe = PlotPE()

In [3]:
data = Data('sz.300362', '2010-01-01')

login success!

In [4]:
result = pe.drew_pe(code='all')

è¿›åº¦sz.300999 3992/3992:[ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€ðŸš€]100.00% 2051.81s

login success!

In [5]:
cache_data = np.load('./mark_cache/PEPB.npz', allow_pickle = True)

In [8]:
df = pd.DataFrame(cache_data.get('sh.600000'), columns = ['date','peTTM','pbMRQ'])

In [5]:
result

           code       peTTM  PEpercentile      pbMRQ  PBpercentile
0     sh.600000    5.399888          0.15   0.617240          0.04
1     sh.600004  570.968051          0.99   1.940154          0.58
2     sh.600006   21.443223          0.47   1.658745          0.37
3     sh.600007   14.512753          0.03   1.574175          0.03
4     sh.600008   16.282408          0.01   1.394398          0.01
...         ...         ...           ...        ...           ...
3983  sz.300948   51.923838          0.10   8.603021          0.10
3984  sz.300949   39.546652          0.11   9.932474          0.11
3985  sz.300950   85.194882          0.17  14.312182          0.17
3986  sz.300951   44.693232          0.11  19.384495          0.11
3987  sz.300999   69.828963          0.52   6.068946          0.45

[3988 rows x 5 columns]

In [14]:
len(df)

5167

In [14]:
cache_data.get('sh.600249')

array([['2004-01-30', '39.452538', '5.443715'],
       ['2004-02-02', '39.015794', '5.383453'],
       ['2004-02-03', '38.695515', '5.339260'],
       ...,
       ['2021-03-05', '3424.043148', '1.339078'],
       ['2021-03-08', '3496.614390', '1.367459'],
       ['2021-03-09', '3397.653605', '1.328757']], dtype=object)